.HTML5FileUpload_MaxFileSize
     {
     
     font-size                                    :    0.8em;
     
     }
     
.HTML5FileUpload_DropBox
     {
     
     border                                       :    2px dashed rgba(0,0,0,0.2);
     width                                        :    400px;
     height                                       :    80px;
     margin                                       :    10px 0;
     padding                                      :    5px;
		 display: table;
		 overflow: hidden;
     border-radius                                :    10px;
     /*
     background: -moz-linear-gradient(
         bottom,
         rgb(255,255,255) 1%,
         rgb(232,232,232) 20%,
         rgb(232,232,232) 80%,
         rgb(255,255,255) 99%
     );
     
     background: -webkit-linear-gradient(
         bottom,
         rgb(255,255,255) 1%,
         rgb(232,232,232) 20%,
         rgb(232,232,232) 80%,
         rgb(255,255,255) 99%
     );
     */
     /*text-shadow                                  :    1px 1px #FFFFFF,
                                                       -1px -1px #FFFFFF,
                                                       2px 2px #AAAAAA,
                                                       3px 3px #AAAAAA,
                                                       4px 4px #AAAAAA;*/
     font-weight                                  :    bold;
     text-align                                   :    center;
     font-size                                    :    1.2em;
		 vertical-align                               :    middle;
     background                                   :    rgba(0,0,0,0.04);
		 color                                        :    rgba(0,0,0,0.5);
		 /*box-shadow                                   :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
     -o-box-shadow                                :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
     -webkit-box-shadow                           :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
     -moz-box-shadow                              :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
     
     }

     .HTML5FileUpload_DropBox1
     {
			 display: table-cell;
			 vertical-align: middle;
		 }
		 
		 #HTML5FileUpload_Reset
		 {
			 margin                                       :    10px 0;
		 }
     
     #HTML5FileUpload_Abort_All
     {
			 margin                                       :    0 0 0 10px;
		 }
		 
		 .HTML5FileUpload_Link a
     {
     
     color                                        :    #000000;
     font-size                                    :    10px;
     font-family                                  :    'Verdana';
          
     }
     
.HTML5FileUpload_Tbl
     {
		 border                                       :    1px solid rgba(0,0,0,0.2);
     background                                   :    rgba(0,0,0,0.05);
     border-radius                                :    10px;
     overflow                                     :    hidden;
     border-spacing                               :    0px;
     /*box-shadow                                   :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
     -o-box-shadow                                :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
     -webkit-box-shadow                           :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
     -moz-box-shadow                              :    0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);*/
     
     }
     
.HTML5FileUpload_Tbl td
     {
     
			 border-bottom                                :    1px solid rgba(0,0,0,0.2);
     padding                                      :    5px;
     -moz-transition                              :    all 0.5s;
     -webkit-transition                           :    all 0.5s;
     -o-transition                                :    all 0.5s;
     transition                                   :    all 0.5s;
     
     }
     
.HTML5FileUpload_Tbl td .FileSize
     {
     
     font-size                                    :    10px;
     
     }
     
.HTML5FileUpload_last_td
     {
     
     border-bottom                                :    0px !important;
     
     }
     
.HTML5FileUpload_Complete
     {
     
			 background-color                           :    rgba(0, 0, 0, 0.4);
     opacity                                      :    0.5;
     -moz-transition                              :    all 2s;
     -webkit-transition                           :    all 2s;
     -o-transition                                :    all 2s;
     transition                                   :    all 2s;
     
     }
     
.HTML5FileUpload_Progress_Aborted
     {
     
     background-color                             :    #FF0000;
     opacity                                      :    0.5;
     -moz-transition                              :    all 2s;
     -webkit-transition                           :    all 2s;
     -o-transition                                :    all 2s;
     transition                                   :    all 2s;
     
     }
          
.HTML5FileUpload_Cancel
     {
          
     float                                        :    right;
     padding-left                                 :    5px;
		 margin                                       :    10px 20px 0 0;
		 visibility                                   :    hidden;
     cursor                                       :    pointer;
     width                                        :    16px;
     height                                       :    16px;
     background-image                             :    url('../img/cancel.png');
     background-repeat                            :    no-repeat;
          
     }
          
tr:hover .HTML5FileUpload_Cancel
     {
          
     visibility                                   :    visible;
          
     }
     
/*

     Progressbar und Prozentanzeige
     
*/

.HTML5FileUpload_ProgressContainer
     {
     
     width                                        :    200px;
     float                                        :    left;
     border                                       :    1px solid black;
     background-color                             :    #FFFFFF;
     height                                       :    16px;          
     border-radius                                :    5px;
		 margin                                          : 10px;
     /*box-shadow                                   :    2px 2px 2px #A8A8A8;*/
     
     }
     
.HTML5FileUpload_Progress
     {
			 background-color                             :    rgba(0,0,0,0.2);
     
     height                                       :    14px;
     width                                        :    0px;       
     position                                     :    relative;
     top                                          :    0px;      
     border-radius                                :    5px;
     
     }
     
.HTML5FileUpload_Percent
     {
     
     position                                     :    relative;
     width                                        :    100%;
     height                                       :    100%;
     text-align                                   :    center;
     font-size                                    :    10px;
     background                                   :    transparent;
     top                                          :    -17px;
     z-index                                      :    1000;
     
     }
     
/*

     Bildvorschau
     
*/

.HTML5FileUpload_PicPreview_td img
     {
     
     /*
     
          Aenderungen animieren
          
     */
     
     -moz-transition                              :    all 1s;
     -webkit-transition                           :    all 1s;
     -o-transition                                :    all 1s;
     transition                                   :    all 1s;
     
     max-width                                    :    150px;
     max-height                                   :    150px;
     border                                       :    1px solid black;
     
     }
     
.HTML5FileUpload_PicPreview_td img:hover
     {
     
     /*
     
          Aenderungen animieren
          
     */
     
     -moz-transition                              :    all 5s;
     -webkit-transition                           :    all 5s;
     -o-transition                                :    all 5s;
     transition                                   :    all 5s;
     
     max-width                                    :    10000px;
     max-height                                   :    10000px;
     
     }